
:root {
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(220, 15%, 55%);
  --DarkBlue: hsl(218, 44%, 22%);
  --fontStyle: "Outfit", sans-serif;
}

html {
  font-size: 	0.9375rem;
  box-sizing: border-box;
}

body {
  background-color: var(--LightGray);
  font-family: var(--fontStyle);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

*, ::before, ::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

.container {
  width: max(30%, 23rem);
  background-color: var(--White);
  padding: 1em;
  border-radius: 1rem;
  margin-top: 1em;
}

img {
  max-width: 100%;
  border-radius: 1rem;
  cursor: pointer;
  display: block;
}


h1 {
  color: var(--DarkBlue);
}

p {
  color: var(--GrayishBlue);
}


footer {
  position: fixed;
  bottom: 0;
}

